


    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        *{
            font-family: 'Roboto', sans-serif; 
            color: #44475b;
            

        }


        :root{
    --lightBackground : #fff;
    --lightColor : #44475b;
    --hover:rgb(239, 237, 237);
    --border: rgba(164, 163, 163, 0.3);
    

   
}

.blur{
    filter: blur(1px)
}
.unblur {
    filter: blur(0);
}

#nav_bar{

height: 83px;
display:flex;
width: 85%;
margin: 0 auto;

justify-content: space-between;
align-items: center;
margin-top: -15px;

margin-bottom: 90px ;
 animation-delay: 0.4s;
transition:ease-in ;


}
#nav_bar_logo, #nav_bar_logo img{
width:148px;
height:40px;


}

#nva_bar_search{

width: 450px;
border: 1px  solid var(--border);
display:flex;
height: 29px;
padding: 3px;
border-radius: 5px;
margin-right: 15px;




}
#nva_bar_search input{
border: 0px ;
width: 420px;
height: 27px;
color: var(--lightColor);
font-size: 16PX;
background-color: var(--lightBackground);
outline: var(--lightBackground);




}
::placeholder{
color: var(--lightColor);
}


#nva_bar_search>div:nth-child(2), #nva_bar_search>div:nth-child(2) img {
width: 20px;
height: 20px;
margin-top: 2px;
}
#nva_bar_search>div:nth-child(2):hover{
cursor: pointer;
}


#btn{
                text-align: center;
                  font-size: 16px;
                width: 190px;
                height: 43px;
                color: white;
                background-color:#00d09c;
                border:white;
                border-radius: 5px;
                float: right;
                margin: auto;
                
 
                
}
#btn:hover{
    cursor: pointer;
}

#login_box{

    width: 900px;
    height: 500px;
 
 
    position: fixed;
    top: 50%;
    
    left: 50%; 
    transform: translate(-50%, -50%) ;
   
     display:none;
    z-index:1;
    border-radius: 10px;
   
    transition: all 2s ease-out;
   
   

    

}

#log_box_left{
    width: 450px;
    height: 500px;
    background-image: url('https://assets-netstorage.groww.in/website-assets/prod/1.6.6/build/client/images/patternImg.0edf5760.svg')

}
#log_box_right{
    width: 340px;
    height: 440px;
    background-color: #ffff;
    padding: 30px 60px;
  

}


#login_btn{
    position: absolute;
    right:0px;
background-color: #fff;



}
#login_btn:hover{
    cursor: pointer;
}
#login_btn p{
    margin: 0px;
    font-size:25px;
}
#log_box_left> div{
    margin-left: 60px;
}
#log_box_left> div:nth-child(1){
    margin-top: 60px;

}
#log_box_left> div:nth-child(3){
    position: absolute;
    bottom: 30px;

}
#log_box_left p{
    margin :2px;
    

    font-size: 36px;
    font-weight: 600;
    color: white;
}
#log_box_heading{
    font-size: 31px;
    font-weight: 600;

}
#log_box_google{
    display: flex;
    justify-content:center;
    box-shadow:
0 10px 10px rgba(0, 0, 0, 0.034),
0 10px 10px rgba(0, 0, 0, 0.034),
0 10px 10px rgba(0, 0, 0, 0.034),
0 10px 10px rgba(0, 0, 0, 0.034),
0 10px 10px rgba(0, 0, 0, 0.034),
0 10px 10px rgba(0, 0, 0, 0.034)
;

}
#log_box_google img{
    width: 25px;
    height: 25px;
    margin-top: 13px;
    margin-right: 10px;
    
}
#log_box_google p{
    font-weight: 600;
}
#or{
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin: 40px auto;
}

.log_box_input input, #log_box_password input{
    width: 100%;
     height: 20px;
    background-color: white;
    border: 0px;
    border-bottom: 1px solid #44475b;
    font-size: 17px;


}
.log_box_input input:focus ,#log_box_password input:focus{
    border: 0px;
    outline: 0;
    border-bottom: 3px solid #00d09c;
    
}
.log_box_input input::placeholder ,#log_box_password input::placeholder{
    color: #44475b;
    font-size: 17px;
}
.log_box_button {
    width: 100%;
    height: 50px;
    align-items: center;
    background-color: #00d09c;
    padding-top: 1px;
    margin-top: 35px;
    border-radius: 7px;
    
}

.log_box_button_p{
    color:white;
    text-align: center;
    margin-top: 12px;
    font-size: 17px;


}
.log_box_button:hover{
    opacity: 0.9;
    cursor: pointer;
}
#log_box_email{
    display: block;
}
#log_box_pass{
    display: none;
}
#log_box_pass_heading{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}

#log_box_password{
    margin-top: 50px;
   
}
#log_box_dis{
    width: 80%;
    margin: 0 auto;
    margin-bottom: -32px;
    margin-top: 80px;
    background-color: lightgrey;
    border-radius: 2px;

}
#log_box_dis p{
    font-size: 11px;
    text-align: center;

}


    




      


         #our_products_cont{
            width: 85vw;
            margin: 0 auto;
            

        }
        #ourProducts{
            background-color: #ecedef;
            width: 100px;
            text-align: center;
            padding: 5px 10px;
            border-radius: 15px;
            font-size: 12px;

            
            
            
        }
        #ourProducts p {
            color: #44475b;
            margin: 0px;
        }
        #our_product_heading h2{
            font-size: 36px;
            margin-bottom: 70px;
            font-size: 500;

        }
        #our_products_tabs{
            display: grid;
           
            grid-template-columns: 150px repeat(4,auto);


        }
       
        #our_products_tabs>div{
            align-items: center;
            min-width: 150px;
         
            
        }
       
        .our_products_flex{
            display: flex;
            filter: grayscale(100%);
            justify-content: center;

         
        }
      
        
        .our_products_flex:hover{
            filter: grayscale(0%);
            
        }
        .bar{
            width: 100%;
            height: 3px;
            border-radius: 1.5px;
            background-color: #00d09c;
            margin-top: 15px;
            
        }

        #our_products_tabs>div:hover{
            cursor: pointer;
            
        }
        .our_product_tabs_img{
            width: 40px;
            height: 40px;
           
        }
        .our_product_tabs_img>img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            
        }
        
    
        .our_products_tabs_text{
            margin-left: 10px;
            padding-top: auto;
            padding-bottom: auto;
            clear: both;
            
            
        }
        .our_products_tabs_text h6{
            font-size: 22px;
            margin: 0px;
            margin-top: 9px;
            font-weight: 500;
        
        }
   
        #our_product_display {
            display: flex;
            width: 100%;
            margin-top: 100px;
            margin-bottom: 200px;

        }
        .out_product_display_image{
            width: 562px;
            height: 355px;
        }
        .out_product_display_image img{
            width: 562px;
            height: 355px;
        }
        .our_product_display_info {
            width: 500px;
            margin-left: 90px;
            padding-top: 20px;
        }
        .our_product_display_info_heading{
            display: flex;
        }
        .our_product_display_info_heading h1{
            font-size: 80px;
           margin-top: 0px;
           margin-bottom: 20px;
        }
        .our_product_display_info_heading h2{
            margin-top: 60px;
            margin-left: 20px;
        }
        .our_product_display_button {
            width: 205px;
            height: 45px;

        }
        .our_product_display_button button{
            width: 100%;
            height: 100%;
            background-color: #00d09c;
            color: white;
            border: #00d09c;
            border-radius: 5px;
            margin-top: 30px;
            font-weight: 800;
            
            
        }
        .our_product_display_button button:hover{
            cursor: pointer;
            opacity: 0.9;
            
        }


        #keep_learning_cont{
            width: 90vw;
            margin: 0px auto;


        }
        #keep_learning_head{
            text-align: center;
            font-size: 36px;
            font-weight:600;
        }

        #keep_learning_display{
            margin-top: 70px;
            display: grid;
            grid-template-columns: repeat(3, 350px);
            justify-content: space-around;
            

        }
        .keep_learning_img img{
            
            width: 350px;
        }
        .keep_learning_img:hover{
            filter: brightness(93%);
            cursor: pointer;
        }
        .keep_learnig_img_tex{
            margin-top: 25px;
            font-size: 24px;
            font-weight: 600;
            text-align: center;

        }
        #keep_learing_articles{
            display: flex;
            width: 150px;
            margin: 70px auto;
            

        }
        #keep_learing_articles a{
            color: #00d09c;
            text-align: center;
            font-size: 16px;
            text-decoration: none;
            font-weight: 600;
        }
        #keep_learing_articles u{
            text-decoration: none;
            color: #00d09c;
            font-size: 16px;
            font-weight: 600;



        }

        #keep_learing_articles u:hover{
            text-decoration: underline;
        }



    #in_the_press{
        margin-bottom: 30px;
    }
    #in_the_press>div:nth-child(1){
        width: 90vw;
        margin: 0 auto;
    }

        #in_the_press>div:nth-child(1) h1{
            text-align: center;
            font-size: 36px;
            width: 100%;
            margin-bottom: 0px;
            border-bottom: 1px solid rgb(232, 228, 228); 
            line-height: 0.1em;
            margin: 10px 0 20px; 
            

        }
        #in_the_press>div:nth-child(1) h1 span{
            background:#fff; 
            padding:0 10px; 
        }
        #in_the_press_img{
        
            width: 80vw;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(4,166px);
            justify-content: space-between;
        }
        #in_the_press_img>div{
            margin-top: 20px;
           height: 88px; 
           filter: grayscale(100%);
        }
        #in_the_press_img>div img{
            width: 100%;
            height: 100%;
        }
        #in_the_press_img>div:hover{
            filter: grayscale(0%);
        }
        
    

        #particle-cont{
      width:100%;
      background-color: rgb(83,103,255);
      margin:auto;
      margin-bottom: 950px;

      
      
    }
    #particles-js{
      width: 99%;
      background-color: rgb(83,103,255);
      display:grid;
      background-image: url(images/shield-groww.0d0cc15e.png);
      position: absolute;
    }


   
    
     #img3d {
      position: absolute;
       transform: (40%, -50%); 
      margin-left: 8%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 17%;
    } 
    #img3d div h1{
      font-size: 3.8rem;
      font-weight: 700;
      color: white;
      margin-bottom: -35px;
    }

    #img3d div p{
      font-size: 1.2rem;
      color: white;
      margin-top:10%;
      line-height: 2rem;
      font-weight: 500;
    }



#testimonials_box{
    
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f6f6f7;
    margin: 0 auto;

}
#testimonials_box>div:nth-child(1){
    width: 90%;
    margin: 0 auto;
    
    

}
#testimonials_box>div:nth-child(1) h2{
    font-size: 36px;
    font-weight: 600;
    margin: 0;
}
#testimonials_box>div:nth-child(2){
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    
}
#testimonials_box>div:nth-child(2) p{
    font-size: 18px;
    color:#7c7e8c ;
    margin: 0;
    
}
#testimonials_box>div:nth-child(2) a{
     color: #00d09c;
        
        font-size: 16px;
        text-decoration: none;
        font-weight: 600;

}
#testimonials_box u{
        text-decoration: none;
        color: #00d09c;
        font-size: 16px;
        font-weight: 600;

}

#testimonials_box u:hover{
    text-decoration: underline;
}

#testimonials_boxs{
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    grid-gap: 20px;
    margin-top: 40px;
}
#testimonials_boxs>div{
    width: 290px;
    padding: 25px 35px;
    background-color: white;
    border-radius:10px;
    
    
}
#testimonials_boxs>div:hover{
    box-shadow:
0 10px 10px rgba(0, 0, 0, 0.034),
0 10px 10px rgba(0, 0, 0, 0.034),
0 10px 10px rgba(0, 0, 0, 0.034),
0 10px 10px rgba(0, 0, 0, 0.034),
0 10px 10px rgba(0, 0, 0, 0.034),
0 10px 10px rgba(0, 0, 0, 0.034)
;
    cursor: pointer;
}
.testimonials_img_head{
    width: 100%;
    display: grid;
    grid-template-columns: 86px 155px;
    

}
.testimonials_img ,.testimonials_img img {
    width: 56px;
    height: 56px;
    border-radius: 28px;
}
.testimonials_para{
    margin-top: 20px;

}
.testimonials_para p{
    font-size: 18px;
    line-height: 36px;
    
}
.testimonial_names{
    margin-top: 20px;

}
.testimonial_names h4{
    font-size: 17px;
}
.testimonials_stars{
    display: flex;
    padding-top: 4px;

}

.testimonials_stars span{
    
    font-size: 27px;;
   color: #ffb61b;
    margin-right: 10px;
    
    
    
}






.cardTransCont {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cardTransLeft{
  margin: 160px 110px;
  color: #8B8D9A;
}

.cardTransLeft h1 {
font-size: 3rem;
color:rgb(68,71,91);
font-weight: 600;
line-height: 4rem;
}

.cardTransLeft p{
  color:#8B8D9A;
  width:80%;
  line-height: 2rem;
    margin-bottom: 35px;
}

.cardFlexWrap{
  display: flex;
  margin-left: 10px;
  margin-bottom: 25px;
}
.cardFlexWrap img{
  margin-top: 35px;
  margin-left: -10px;
  margin-right: 35px;
}

.cardFlexWrap h3{
  color:rgb(68,71,91);
  margin-bottom: -7px;
}

.cardFlexWrap p{
  margin-bottom: -5px;
  line-height: 1.5rem;
  max-width: 320px;
}

#cardTransRightCont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

#cardTransRightCont img {
  width:250px;
  margin-right: 40px;
  margin-bottom: 35px;
}

#cardTransRightCont img:hover {
  transform: scale(1.05);
  transition: 0.5s linear;
}






.Box{
                background-color:#00d09c;
                border-radius: 2vw;
                width:85vw;
                height:27.3vw;
                display: Box;margin-left: auto; margin-right: auto;
               margin-top: -10px;
            }
            .Box h1{
                color: white;
                margin-left: 7%;
                width: 59%;
                font-size:250%;
                padding-top: 9%;   
            }
            .Box    h2{
                color:white;
                width: 60%;
                margin-left:7%;
                font-size: 110%;
            }
            .Box    #touch{
                text-align: center;
                font-size: 120%;
                background-color: white;
                color:#00d09c;
                border-radius: 9px;
                border:white;
                width: 16%;
                height: 12%;
                margin-left: 7%;
                margin-top: 3%;
            }
            .Box   img{
                width: 23%;
                height: 90%;
                float: right;
                margin-top:3.29%;  
                margin-right: 9%;
            }
        

    

            #last_box{
                margin-top: 70px;
    background-color: #1e2232;
    width:100%;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
#last_box>div:nth-child(1){
    width: 85%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: space-between;
    

    

}
#contact_grow_img, #contact_grow_img img{
    width:150px;
    height: 50px;
    margin-bottom: 20px;
    

}
#contact_address p{
    color: #fff;
    font-size: 15px;
    margin: 0px;
    margin-bottom: 5px;
    font-weight:500;


}
#contact_address u {
    color: #fff;
    font-size: 15px;
    margin: 0px;
    margin-bottom: 5px;
    font-weight:500;

}
#contact_socialMedia{
    display: flex;
    margin-top: 10px;
}
#contact_socialMedia>div{
    
    width: 30px;
    height: 30px;
    padding-right: 10px;
}

.last_box_head{
    color: #fff;
    margin: 0;
    font-size:20px;
    margin-top: 10px;
    font-weight: 500;
    margin-bottom: 15px;
}
.last_box_info p{
    color: #fff;
    font-size:15px;
    margin: 0;
    margin-bottom: 15px;
}
#last_box hr{
    width: 85%;
    color:lightgray;
    

}

#last_box_store{
    width: 85%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    

}
#stores{
    display: flex;
}
#last_box_store p{
    color: #fff;
    font-size: 15px;


}
#stores>div{
    margin-left: 15px;

}
 
       


    
    