body {
    font-family: 'Roboto', sans-serif;
}


/* container */
.container {
    /* max-width:1120px; */
    max-width: 90vw;
    margin:auto;
    display:flex;
    flex-direction: row;  
    margin-bottom: 3.5rem;  
}

/* get started left */
.subCont {
    /* margin-right:26%; */
    min-width:54%;
    margin-left: 3%;
}


.get-st-1 h1, p, button {
    animation: cardEnt 1s ease-out;
    animation-fill-mode: backwards;
}

.get-st-1 h1 {
    margin-top:9.2rem;
    font-size: 2.4rem;
    color:#44475B;
    animation-delay: 0.1s;
}

.get-st-1 p {
    margin:2rem 0rem;
     max-width: 22rem; 
    color:#8B8D9A;
    line-height: 2rem;
    animation-delay: 0.4s;
}

/* Text Transitions */
.get-st-1 {
    position: relative;
}

.text-trans{
    display: inline;
    text-indent: 18px;
}

.text-trans span{
 -webkit-animation: rotateWord 18s linear infinite 0s;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}

.text-trans span:nth-child(1){
    color:#6577FF;
}
.text-trans span:nth-child(2){
    
	animation-delay: 3s;
	-webkit-animation-delay: 3s;
    color: #00D09C;
}
.text-trans span:nth-child(3){
	animation-delay: 6s;
	-webkit-animation-delay: 6s;
    color: rgb(255,182,27);
}
.text-trans span:nth-child(4){
	animation-delay: 9s;
	-webkit-animation-delay: 9s;
    color: #FF585D;
}
.text-trans span:nth-child(5){
	animation-delay: 12s;
	-webkit-animation-delay: 12s;
    color:rgb(224,193,137);;
}
.text-trans span:nth-child(6){
	animation-delay: 15s;
	-webkit-animation-delay: 15s;
    color: rgb(29,161,242);
}



@-webkit-keyframes rotateWord{

	 0% {opacity: 0;}
  
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }
  
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }
  
  80% {opacity: 0;}
  
  100% {opacity: 0;}
}




/* Get started button*/
#get-st-bt{
    padding:19px 58px;
    background-color: #00D09C;
    color:white;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 550;
    border: none;
    animation-delay: 0.8s;
    cursor: pointer;
}

#get-st-bt:hover{
    opacity: 0.9;
}




/*------------------------------------------------ end of left div --------------------------------------*/

/* grids - get started - right*/
.get-st-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2.9rem;
    grid-row-gap: 2.2rem;   
}

/* Animations / transitions */
@keyframes cardEnt {
    from{
        opacity: 0;
        transform: translateY(40%)
    }
    to {
        opacity:1;
        transform: translateY(0%)
    }  
}

/* Grid layout specifics*/
.get-st-2 a {
    height:154px;
    width:210px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 5px 20px 10px rgba(110, 110, 110, 0.1);
    cursor:pointer;
}

/* images inside the cards / grid-right. */
.get-st-2 img {
    margin:1.2rem;
    border-radius: 50%;
}

.get-st-2 p {
    color: #44475B;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 1.7rem;
    margin-top:4px;

}
/* for animation delays*/
.get-st-2 .transition-1 , .transition-2, .transition-3 {
    animation: cardEnt 1s ease-out;
    animation-fill-mode: backwards;
}
.transition-1  {
    animation-delay: 0.1s;    
}
.transition-2 {
    animation-delay: 0.4s;    
}
.transition-3  {
    animation-delay: 0.8s;   
}




